.card{
    border-style: none;
    margin-left: 9px;
    margin-right: 79%;
    padding: 9px;
    box-shadow:1px 0px 1px;
    border-radius: 13px;
    border-color: antiquewhite;
}
.image{
    height:6cm;
    width: 8cm;
    border-radius: 14px;
}
.content{
    border-style:none;
    margin-left: -8px;
    margin-right: -1%;
    margin-top: 5px;
    margin-bottom:5px ;
    padding: 10px;
    
}
label{
    margin-left: 5px;
    padding:3px;
}
#price{
    margin-left: 87px;
}
#Author{
    margin-left: 19px;

}