<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Places</title>
    <link rel="stylesheet" href="{% static 'assests/detail.css' %}">

</head>
<body>
<h1>Details of Tourist sites</h1>
<div class="card">
<img src="{{ data.destination_img }}" class="image"><br>
<div class="content">
<label for="" id="Name"><b>Name:</b></label>
<td>{{ data.name }}</td>
<label for="" id="Author"><b>Dictrict:</b></label>
<td>{{ data.district }}</td><br>
<label for="" id="Quantity"><b>state:</b></label>
<td>{{ data.state }}</td>
<label for="" id="price"><b>Weather:</b></label>

<td> {{ data.weather }}</td><br>
    <label for="" id="price"><b>Map Link:</b></label>

<td> {{ data.map_link }}</td><br>
       <label for="" id="price"><b>description:</b></label>

<td> {{ data.description }}</td><br>
</div>
</div>

</body>
</html>